{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "developerWorks",
      "Space": "Ori-Pomerantz-apps"
    },
    "Name": "cloudantProxy",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}
